* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#input {
    width: calc(100% - 100px);
    padding: 10px;
    margin-left: 20px;
}

.b1, .b3 {
    background-color: #444;
    color: #fff;
}

.b1, .b2, .b3 {
    padding-left: 20px;
}
